/**
 * Animations
 */
@import '../variables/index.css';


@define-mixin vue-anim $class-name, $keyframe-name {
  .$(class-name)-enter-active {
    animation: $(keyframe-name)In .3s ease-in-out both;
  }
  .$(class-name)-leave-active {
    animation: $(keyframe-name)Out .3s ease-in-out both;
  }
}

@keyframes slideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateY(-6px);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateY(0);
  }
}

@keyframes slideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: translateY(-6px);
  }
}

@keyframes moveUpIn {
  0% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateY(0);
  }
}

@keyframes moveUpOut {
  0% {
    opacity: 1;
    transform-origin: 0 0;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform-origin: 0 0;
    transform: translateY(-100%);
  }
}

@mixin vue-anim slide-up, slideUp;
@mixin vue-anim move-up, moveUp;
