/**
 * Badge Style
 */
@import '../variables/index.css';

.at-badge {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  &__content {
    display: inline-block;
    height: var(--badge-height);
    padding: 0 var(--badge-padding);
    color: var(--color-white);
    font-size: var(--badge-font-size);
    text-align: center;
    white-space: nowrap;
    line-height: var(--badge-height);
    background-color: var(--badge-bg-color);
    border: 1px solid var(--color-white);
    border-radius: var(--badge-border-radius);
  }

  &--alone {
    .at-badge__content {
      top: 0;
    }
  }
  &--corner {
    position: absolute;
    top: calc(-var(--badge-height) / 2 + 1);
    right: 0;
    transform: translateX(50%);
  }
  &--dot {
    width: 10px;
    height: 10px;
    padding: 0;
    top: -5px;
  }
  &--success {
    .at-badge__content {
      background-color: var(--badge-bg-color-success);
    }
  }
  &--warning {
    .at-badge__content {
      background-color: var(--badge-bg-color-warning);
    }
  }
  &--info {
    .at-badge__content {
      background-color: var(--badge-bg-color-info);
    }
  }
}
