/**
 * Breadcrumb Style
 */
@import '../variables/index.css';
@import '../mixins/index.css';

.at-breadcrumb {
  @mixin clearfix;
  font-size: var(--font-size-base);
  line-height: 1;

  &__separator {
    margin: 0 8px;
    color: var(--roof-color);
  }
  &__item {
    float: left;

    &:last-child {
      color: var(--link-disabled-color);
      cursor: text;

      .at-breadcrumb__separator {
        display: none;
      }
    }
  }
  &__link {
    transition: color .15s linear;
    color: var(--link-color);

    &:hover {
      color: var(--link-hover-color);
      cursor: pointer;
    }
  }
}
