/**
 * Button Style
 */
@import '../variables/index.css';

:root {
  --btn-hover-tint-percent: 20%;
  --btn-active-shade-percent: 10%;
}

@define-mixin button-status $border-color, $background-color {
  border-color: $border-color;
  background-color: $background-color;

  &:hover {
    background-color: color($background-color tint(var(--btn-hover-tint-percent)));
    border-color: color($background-color tint(var(--btn-hover-tint-percent)));
  }
  &:active {
    background-color: color($background-color shade(var(--btn-active-shade-percent)));
    border-color: color($background-color shade(var(--btn-active-shade-percent)));
  }
}

@define-mixin button-hollow-status $text-color, $border-color {
  background: none;
  color: $text-color;

  &:hover {
    background: none;
    color: color($text-color tint(var(--btn-hover-tint-percent)));
    border-color: color($border-color tint(var(--btn-hover-tint-percent)));
  }
  &:active {
    background: none;
    color: color($text-color tint(var(--btn-active-shade-percent)));
    border-color: color($border-color tint(var(--btn-active-shade-percent)));
  }
}

.at-btn {
  display: inline-block;
  line-height: 1;
  padding: var(--btn-md-padding);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  /*touch-action: manipulation;*/
  border: 1px solid var(--btn-default-border);
  border-radius: var(--border-radius-base);
  background-color: #fff;
  outline: 0;
  transition: background 0.1s;
  user-select: none;
  font-size: var(--font-size-normal);

  &--primary,
  &--success,
  &--error,
  &--warning,
  &--info {
    color: var(--color-white);
  }

  &:hover {
    background-color: color(var(--btn-default-border) tint(80%));
  }
  &:active {
    background-color: color(var(--btn-default-border) tint(50%));
  }
  &--default {
    &--hollow {
      @mixin button-hollow-status var(--text-color), var(--btn-default-border);
    }
  }
  &--primary {
    @mixin button-status var(--btn-primary-border), var(--btn-primary-bg);

    &--hollow {
      @mixin button-hollow-status var(--color-primary), var(--btn-primary-border);
    }
  }
  &--success {
    @mixin button-status var(--btn-success-border), var(--btn-success-bg);

    &--hollow {
      @mixin button-hollow-status var(--color-success), var(--btn-success-border);
    }
  }
  &--error {
    @mixin button-status var(--btn-error-border), var(--btn-error-bg);

    &--hollow {
      @mixin button-hollow-status var(--color-error), var(--btn-error-border);
    }
  }
  &--warning {
    @mixin button-status var(--btn-warning-border), var(--btn-warning-bg);

    &--hollow {
      @mixin button-hollow-status var(--color-warning), var(--btn-warning-border);
    }
  }
  &--info {
    @mixin button-status var(--btn-info-border), var(--btn-info-bg);

    &--hollow {
      @mixin button-hollow-status var(--color-info), var(--btn-info-border);
    }
  }
  &--large {
    font-size: var(--font-size-normal);
    padding: var(--btn-lg-padding);
  }
  &--small {
    font-size: var(--font-size-sm);
    padding: var(--btn-sm-padding);
  }
  &--smaller {
    font-size: var(--font-size-smer);
    padding: var(--btn-smer-padding);
  }
}

.at-btn-group {
  font-size: 0;
  display: inline-block;

  > .at-btn {
    border-radius: 0;

    &:not(:last-child) {
      margin-right: -1px;
    }
    &:first-child {
      border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
    }
    &:last-child {
      border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
    }
  }
}
