/**
 * Form Style
 */
@import '../variables/index.css';
@import '../mixins/index.css';

.at-form {
  /* modifier */
  &--label-left {
    .at-form-item__label {
      text-align: left;
    }
  }
  &--label-right {
    .at-form-item__label {
      text-align: right;
    }
  }
  &--label-top {
    .at-form-item__label {
      float: none;
      display: inline-block;
      text-align: left;
      padding: 0 0 10px 0;
    }
  }
  &--inline {
    .at-form-item {
      display: inline-block;
      margin-right: 8px;
      vertical-align: top;
    }
    .at-form-item__label {
      float: none;
      display: inline-block;
    }
    .at-form-item__content {
      display: inline-block;
      vertical-align: top;
    }
    &.at-form--label-top .at-form-item__content {
      display: block;
    }
  }
}

.at-form-item {
  margin-bottom: 24px;
  @mixin clearfix;

  .at-form-item {
    margin-bottom: 0;

    .at-form-item__content {
      margin-left: 0;
    }
  }
  &__label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: var(--font-size-base);
    color: var(--color-normal);
    line-height: 1;
    padding: 10px 12px 10px 0;
  }
  &__content {
    position: relative;
    font-size: var(--font-size-base);
    line-height: 36px;
    @mixin clearfix;
  }
  &__error-tip {
    position: absolute;
    left: 0;
    top: 100%;
    padding-top: 4px;
    color: var(--color-error);
    font-size: var(--font-size-smer);
    line-height: 1;
  }
}
