/**
 * LoadingBar Style
 */
@import '../variables/index.css';

.at-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--zindex-loading-bar);
  width: 100%;

  &__inner {
    height: 100%;
    transition: width .3s linear;
  }

  &--success {
    .at-loading-bar__inner {
      background-color: var(--loading-bar-bg-color-success);
    }
  }
  &--error {
    .at-loading-bar__inner {
      background-color: var(--loading-bar-bg-color-error);
    }
  }
}
