/**
 * Message Style
 */
@import '../variables/index.css';

.at-message {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--color-white);
  border-radius: var(--border-radius-base);
  box-shadow: 0 1px 8px rgba(0, 0, 0, .15);
  font-size: var(--font-size-sm);

  /* element */
  &__wrapper {
    position: fixed;
    left: 0;
    top: 16px;
    width: 100%;
    z-index: var(--zindex-message);
    text-align: center;
    transition: opacity .3s, transform .3s, top .4s;
  }
  &__icon {
    margin-right: 8px;
    vertical-align: middle;
  }

  /* modifier */
  &--info .at-message__icon {
    color: var(--color-info);
  }
  &--success .at-message__icon {
    color: var(--color-success);
  }
  &--warning .at-message__icon {
    color: var(--color-warning);
  }
  &--error .at-message__icon {
    color: var(--color-error);
  }
}
