/**
 * Pagination Style
 */
@import '../variables/index.css';
@import '../mixins/index.css';

.at-pagination {
  @mixin clearfix;
  list-style: none;
  font-size: 0;

  /* elements */
  &__item {
    float: left;
    height: var(--pagination-item-size);
    min-width: var(--pagination-item-size);
    margin-right: 4px;
    color: var(--pagination-item-text-color);
    font-size: var(--font-size-sm);
    line-height: var(--pagination-item-size);
    text-align: center;
    background-color: var(--pagination-item-bg-color);
    border: 1px solid var(--pagination-item-border-color);
    border-radius: var(--pagination-item-border-radius);
    transition: all .3s;
    cursor: pointer;

    &:hover {
      color: var(--pagination-item-border-color-hover);
      border-color: var(--pagination-item-border-color-hover);
    }
    &--active {
      color: var(--color-white);
      border-color: var(--color-primary);
      background-color: var(--color-primary);

      &:hover {
        color: var(--color-white);
      }
    }
  }
  &__prev,
  &__next,
  &__item--jump-prev,
  &__item--jump-next {
    display: inline-block;
    float: left;
    font-size: calc(var(--font-size-sm) - 2);
    height: var(--pagination-item-size);
    min-width: var(--pagination-item-size);
    line-height: var(--pagination-item-size);
    text-align: center;
    color: #666;
    border: 1px solid var(--pagination-item-border-color);
    border-radius: var(--pagination-item-border-radius);
    transition: all .3s;
    cursor: pointer;
  }
  &__prev {
    margin-right: 8px;
  }
  &__next {
    margin-left: 4px;
  }
  &__prev,
  &__next {
    background-color: var(--color-white);

     &:hover {
      color: var(--pagination-item-border-color-hover);
      border-color: var(--pagination-item-border-color-hover);
    }
  }
  &__item--jump-prev,
  &__item--jump-next {
    &:after {
      content: '•••';
      display: inline-block;
      color: #ccc;
      text-align: center;
      letter-spacing: 1px;
    }
    i {
      display: none;
    }
    &:hover {
      &:after {
        display: none;
      }
      i {
        display: inline-block;
      }
    }
  }
  &__total {
    float: left;
    font-size: var(--font-size-sm);
    height: var(--pagination-item-size);
    line-height: var(--pagination-item-size);
    margin-right: 10px;
  }
  &__quickjump {
    float: left;
    margin-left: 16px;
    font-size: var(--font-size-sm);
    line-height: var(--pagination-item-size);

    input {
      display: inline-block;
      width: 48px;
      height: var(--pagination-item-size);
      line-height: 1;
      margin: 0 8px;
    }
  }
  &__sizer {
    float: left;
    margin-left: 16px;
    text-align: center;
  }
  &__simple-paper {
    float: left;
    font-size: var(--font-size-sm);

    input {
      display: inline-block;
      width: var(--pagination-item-size);
      height: var(--pagination-item-size);
      padding: 3px 4px;
      text-align: center;
    }
    span {
      padding: 0 8px;
    }
  }

  /* modifiers */
  &--disabled {
    cursor: var(--cursor-disabled);
    color: var(--btn-disabled-border);
    border-color: var(--btn-disabled-border);

    &:hover {
      color: var(--btn-disabled-border);
      border-color: var(--btn-disabled-border);
    }
  }
  &--small {
    .at-pagination__total,
    .at-pagination__quickjump,
    .at-pagination__item,
    .at-pagination__prev,
    .at-pagination__next {
      font-size: var(--font-size-smer);
      height: var(--pagination-item-size-sm);
      line-height: var(--pagination-item-size-sm);
    }
    .at-pagination__item,
    .at-pagination__prev,
    .at-pagination__next {
      border: none;
      width: var(--pagination-item-size-sm);
      min-width: var(--pagination-item-size-sm);
    }
    .at-pagination__prev,
    .at-pagination__next,
    .at-pagination__item--jump-prev,
    .at-pagination__item--jump-next {
      font-size: calc(var(--font-size-smer) - 2);
    }
    .at-pagination__total {
      margin-right: 8px;
    }
    .at-pagination__sizer {
      margin-left: 8px;

      .at-select .at-select__selection {
        height: var(--pagination-item-size-sm);
        line-height: calc(var(--pagination-item-size-sm) - 2);
      }
    }
    .at-pagination__quickjump {
      margin-left: 8px;

      .at-input__original {
        margin: 0 6px;
        height: var(--pagination-item-size-sm);
      }
    }
  }
  &--simple {
    font-size: var(--font-size-sm);

    .at-input__original {
      margin: 0 4px;
      height: var(--pagination-item-size);
    }
    .at-pagination__prev,
    .at-pagination__next {
      margin: 0;
      border: none;
      width: var(--pagination-item-size);
      min-width: var(--pagination-item-size);
      height: var(--pagination-item-size);
      line-height: var(--pagination-item-size);
    }
    &.at-pagination--small {
      font-size: var(--font-size-smer);

      .at-input__original {
        height: var(--pagination-item-size-sm);
      }
      .at-pagination__prev,
      .at-pagination__next {
        width: var(--pagination-item-size-sm);
        min-width: var(--pagination-item-size-sm);
        height: var(--pagination-item-size-sm);
        line-height: var(--pagination-item-size-sm);
      }
      .at-pagination__simple-paper {
        font-size: var(--font-size-smer);

        span {
          padding: 0 4px;
        }
      }
    }
  }
}
