/**
 * Popover
 */
@import '../variables/index.css';

.at-popover {
  display: inline-block;

  &__trigger {
    display: inline-block;
    position: relative;
  }
  &__popper {
    position: absolute;
    z-index: var(--zindex-popover);
    background-color: var(--color-white);
    border: 1px solid var(--popover-border-color);
    box-shadow: 0 2px 6px var(--popover-border-color);
    max-width: 400px;
  }
  &__title {
    margin: 0;
    padding: var(--popover-title-padding);
    font-size: var(--font-size-base);
    background-color: var(--bg-color-gray);
    border-bottom: 1px solid var(--border-color-lightest);
    border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
    word-wrap: break-word;
  }
  &__content {
    padding: var(--popover-content-padding);
    font-size: var(--tooltip-font-size);
    line-height: 1.2;
    border-radius: var(--border-radius-base);
    word-wrap: break-word;
  }
  &__arrow,
  &__arrow::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: var(--popover-arrow-size);
  }

  /**
   * Top
   */
  &--top,
  &--top-left,
  &--top-right {
    margin-top: -12px;

    .at-popover__arrow {
      bottom: 0;
      left: 50%;
      margin-left: -var(--popover-arrow-size);
      margin-bottom: -var(--popover-arrow-size);
      border-bottom-width: 0;
      border-top-color: var(--popover-border-color);

      &::after {
        bottom: 1px;
        margin-left: -var(--popover-arrow-size);
        border-bottom-width: 0;
        border-top-color: var(--popover-arrow-bg-color);
      }
    }
  }
  &--top-left {
    .at-popover__arrow {
      left: calc(var(--popover-arrow-size) * 2);
    }
  }
  &--top-right {
    .at-popover__arrow {
      left: initial;
      right: calc(var(--popover-arrow-size) * 2);
    }
  }

  /**
   * Bottom
   */
  &--bottom,
  &--bottom-left,
  &--bottom-right {
    margin-top: 12px;

    .at-popover__arrow {
      top: 0;
      left: 50%;
      margin-left: -var(--popover-arrow-size);
      margin-top: -var(--popover-arrow-size);
      border-top-width: 0;
      border-bottom-color: var(--popover-border-color);

      &::after {
        top: 1px;
        margin-left: -var(--popover-arrow-size);
        border-top-width: 0;
        border-bottom-color: var(--popover-arrow-bg-color);
      }
    }
  }
  &--bottom-left {
    .at-popover__arrow {
      left: calc(var(--popover-arrow-size) * 2);
    }
  }
  &--bottom-right {
    .at-popover__arrow {
      left: initial;
      right: calc(var(--popover-arrow-size) * 2);
    }
  }

  /**
   * Left
   */
  &--left,
  &--left-top,
  &--left-bottom {
    margin-left: -12px;

    .at-popover__arrow {
      top: 50%;
      right: 0;
      margin-top: -var(--popover-arrow-size);
      margin-right: -var(--popover-arrow-size);
      border-width: var(--popover-arrow-size) 0 var(--popover-arrow-size) var(--popover-arrow-size);
      border-left-color: var(--popover-border-color);

      &::after {
        right: 1px;
        margin-top: -var(--popover-arrow-size);
        border-right-width: 0;
        border-left-color: var(--popover-arrow-bg-color);
      }
    }
  }
  &--left-top {
    .at-popover__arrow {
      top: calc(var(--popover-arrow-size) * 2);
    }
  }
  &--left-bottom {
    .at-popover__arrow {
      top: initial;
      bottom: calc(var(--popover-arrow-size) * 2);
    }
  }

  /**
   * Right
   */
  &--right,
  &--right-top,
  &--right-bottom {
    margin-left: 12px;

    .at-popover__arrow {
      top: 50%;
      left: 0;
      margin-top: -var(--popover-arrow-size);
      margin-left: -var(--popover-arrow-size);
      border-left-width: 0;
      border-right-color: var(--popover-border-color);

      &::after {
        left: 1px;
        margin-top: -var(--popover-arrow-size);
        border-left-width: 0;
        border-right-color: var(--popover-arrow-bg-color);
      }
    }
  }
  &--right-top {
    .at-popover__arrow {
      top: calc(var(--popover-arrow-size) * 2);
    }
  }
  &--right-bottom {
    .at-popover__arrow {
      top: initial;
      bottom: calc(var(--popover-arrow-size) * 2);
    }
  }
}
