/**
 * Progress Style
 */
@import '../variables/index.css';

.at-progress {
  position: relative;
  line-height: 1;

  &-bar {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    margin-right: -55px;
    padding-right: 50px;

    &__wraper {
      position: relative;
      height: var(--progress-height);
      background-color: var(--progress-track-bg-color);
      overflow: hidden;
      vertical-align: middle;
      border-radius: var(--progress-border-radius);
    }
    &__inner {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      border-radius: var(--progress-border-radius);
      background-color: var(--progress-bar-bg-color);
      line-height: 1;
      text-align: right;
    }
  }
  &__text {
    display: inline-block;
    margin-left: 10px;
    color: var(--progress-font-color);
    font-size: var(--progress-font-size);
    line-height: 1;
    vertical-align: middle;

    i {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &--success {
    .at-progress-bar__inner {
      background-color: var(--color-success);
    }
    .at-progress__text {
      color: var(--color-success);
    }
  }
  &--error {
    .at-progress-bar__inner {
      background-color: var(--color-error);
    }
    .at-progress__text {
      color: var(--color-error);
    }
  }
}
