/**
 * Radio Style
 */
@import '../variables/index.css';

@define-mixin button-size $padding, $font-size {
  padding: $padding;
  font-size: $font-size;
}

.at-radio {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  margin-left: 15px;
  color: #1f2d3d;
  font-size: 0;

  &__input {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
  }
  &__inner {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 1px solid var(--border-color-base);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #FFF;
    transition: border .2s;

    &:not(.at-radio--disabled):hover {
      border-color: var(--brand-light-color);
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .2s;
      width: 8px;
      height: 8px;
      background-color: var(--brand-light-color);
      border-radius: 50%;
    }
    &.at-radio--checked {
      border-color: var(--brand-light-color);

      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
    &.at-radio--disabled {
      cursor: var(--cursor-disabled);
      border-color: var(--border-color-base);
      background-color: var(--border-color-lightest);

      &.at-radio--checked::after {
        transform: translate(-50%, -50%) scale(1);
        background-color: var(--border-color-base);
      }
    }
  }
  &__original {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    outline: none;
    z-index: -1;
  }
  &__label {
    font-size: var(--font-size-base);
    padding-left: 5px;
    vertical-align: middle;
  }
}

.at-radio-button {
  position: relative;
  display: inline-block;
  overflow: hidden;

  &__inner {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    background: var(--btn-default-bg);
    border: 1px solid var(--btn-default-border);
    color: var(--btn-default-color);
    margin: 0;
    transition: all .2s;
    user-select: none;
    @mixin button-size var(--btn-md-padding), var(--btn-font-size-md);
  }
  &__original {
    position: absolute;
    left: -999px;
    outline: none;
    opacity: 0;
    z-index: -1;

    &:disabled {
      & + .at-radio-button__inner {
        color: var(--btn-disabled-color);
        cursor: not-allowed;
        background-color: var(--btn-disabled-bg);
        border-color: var(--btn-disabled-border);
      }
    }
  }
  &:not(:last-child) {
    margin-right: -1px;
  }
  &:first-child {
    .at-radio-button__inner {
      border-radius: var(--border-radius-base) 0 0 var(--border-radius-base);
    }
  }
  &:last-child {
    .at-radio-button__inner {
      border-radius: 0 var(--border-radius-base) var(--border-radius-base) 0;
    }
  }
  &--small {
    & .at-radio-button__inner {
      @mixin button-size var(--btn-sm-padding), var(--btn-font-size-sm);
    }
  }
  &--normal {
    & .at-radio-button__inner {
      @mixin button-size var(--btn-md-padding), var(--btn-font-size-md);
    }
  }
  &--large {
    & .at-radio-button__inner {
      @mixin button-size var(--btn-lg-padding), var(--btn-font-size-lg);
    }
  }
}

.at-radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
}
