/**
 * Slider Style
 */
@import '../variables/index.css';

.at-slider {
  &__input {
    float: right;
    margin-top: 3px;
  }
  &__track {
    position: relative;
    width: 100%;
    height: var(--slider-height);
    vertical-align: middle;
    cursor: pointer;
    margin: var(--slider-margin);
    background-color: var(--slider-track-bg-color);
    border-radius: var(--slider-border-radius);
  }
  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--slider-height);
    background-color: var(--slider-bar-bg-color);
    border-radius: var(--slider-border-radius) 0 0 var(--slider-border-radius);
  }
  &__dot-wrapper {
    position: absolute;
    top: var(--slider-dot-wrapper-offset);
    width: var(--slider-dot-wrapper-size);
    height: var(--slider-dot-wrapper-size);
    background-color: transparent;
    text-align: center;
    transform: translateX(-50%);
    user-select: none;

    &:hover,
    &.at-slider__dot-wrapper--hover {
      cursor: grab;
    }
    &.at-slider__dot-wrapper--drag {
      cursor: grabbing;
    }
    /* tooltip */
    .at-tooltip {
      display: block;
      height: 100%;
      line-height: 1;

      &::after {
        display: inline-block;
        content: '';
        width: 0;
        height: 100%;
        vertical-align: middle;
      }
    }
    .at-tooltip__trigger {
      vertical-align: middle;
    }

  }
  &__dot {
    width: var(--slider-dot-size);
    height: var(--slider-dot-size);
    background-color: var(--slider-dot-color);
    border-radius: 50%;
    transition: all .3s;

    &:hover,
    &--hover,
    &--drag {
      background-color: var(--slider-dot-color-hover);
      transform: scale(1.5);
    }

    &:hover,
    &--hover {
      cursor: grab;
    }

    &--drag {
      cursor: grabbing;
    }
  }
}
