/**
 * Switch Style
 */
@import '../variables/index.css';

.at-switch {
  position: relative;
  display: inline-block;
  min-width: var(--switch-min-width);
  height: var(--switch-height);
  border-radius: var(--switch-border-radius);
  border: 1px solid var(--switch-border-color);
  background-color: var(--switch-bg-color);
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: all .3s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    top: 1px;
    width: var(--switch-circle-size);
    height: var(--switch-circle-size);
    border-radius: 50%;
    background-color: var(--switch-circle-bg-color);
    cursor: pointer;
    transition: all .3s;
  }
  &__text {
    display: block;
    color: var(--switch-font-color);
    font-size: var(--switch-font-size);
    padding-left: calc(var(--switch-circle-size) + 6);
    padding-right: 7px;
    line-height: var(--switch-height);
  }
  &--checked {
    border-color: var(--switch-border-color-checked);
    background-color: var(--switch-bg-color-checked);

    &::after {
      left: 100%;
      margin-left: calc(-var(--switch-circle-size) - 2);
    }
    .at-switch__text {
      padding-left: 7px;
      padding-right: calc(var(--switch-circle-size) + 6);
    }
  }
  &--disabled {
    border-color: var(--switch-border-color-disabled);
    background-color: var(--switch-bg-color-disabled);
    cursor: var(--cursor-disabled);

    &::after {
      background-color: var(--switch-circle-bg-color-disabled);
      cursor: var(--cursor-disabled);
    }
  }
  /* small size */
  &--small {
    min-width: var(--switch-min-width-small);
    height: var(--switch-height-small);

    &::after {
      width: var(--switch-circle-size-small);
      height: var(--switch-circle-size-small);
      top: 0;
      left: 1px;
    }
    &.at-switch--checked {
      &::after {
        left: 100%;
        margin-left: calc(-var(--switch-circle-size-small) - 1);
      }
      .at-switch__text {
        padding-left: 6px;
        padding-right: calc(var(--switch-circle-size-small) + 5);
      }
    }
    .at-switch__text {
      font-size: var(--switch-font-size-small);
      padding-left: calc(var(--switch-circle-size-small) + 5);
      padding-right: 6px;
      line-height: var(--switch-height-small);
    }
  }
}
