/**
 * Tag
 */
@import '../variables/index.css';

@define-mixin tag-style $text-color, $border-color, $background-color {
  color: $text-color;
  border-color: $border-color;
  background-color: $background-color;
}

.at-tag {
  display: inline-block;
  line-height: 1;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid var(--btn-default-border);
  border-radius: var(--border-radius-base);
  outline: 0;
  /*color: #8DABC4;*/
  background-color: var(--btn-disabled-bg);

  &__close.icon {
    font-size: 10px;
    padding-left: 4px;
    margin: 0;
    cursor: pointer;

    &:hover {
      color: color(var(--text-color) tint(30%));
    }
  }
  &--default {
    @mixin tag-style var(--text-color), var(--btn-default-border), var(--btn-disabled-bg);
  }
  &--primary {
    @mixin tag-style var(--color-white), var(--btn-primary-bg), var(--btn-primary-bg);
  }
  &--success {
    @mixin tag-style var(--color-white), var(--btn-success-bg), var(--btn-success-bg);
  }
  &--error {
    @mixin tag-style var(--color-white), var(--btn-error-bg), var(--btn-error-bg);
  }
  &--warning {
    @mixin tag-style var(--color-white), var(--btn-warning-bg), var(--btn-warning-bg);
  }
  &--info {
    @mixin tag-style var(--color-white), var(--btn-info-bg), var(--btn-info-bg);
  }
}
