/**
 * AT-Desktop UI Base Stylesheet
 */
@import '../mixins/index.css';

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:before, &:after {
    box-sizing: border-box;
  }
}

/* HTML & Body reset */
html, body {
  @mixin size 100%, 100%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* Unify the margin and padding */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin: 0;
  padding: 0;
}

/* Reset fonts for relevant elements */
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

ul, ol {
  list-style: none;
}

/* Remove the clear button of a text input control in IE10+ */
input::-ms-clear, input::-ms-reveal {
  display: none;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

/* Link */
a {
  color: var(--link-color);
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s ease;

  &:hover {
    color: var(--link-hover-color);
  }
  &:active {
    color: var(--link-active-color);
  }
  &:hover, &:active {
    outline: 0;
    text-decoration: none;
  }
  &[disabled] {
    color: var(--link-disabled-color);
    cursor: not-allowed;
    pointer-events: none;
  }
}

/* Code Block */
code, kbd, pre, samp {
  font-family: var(--code-family);
}

/* Utility classes */
.clearfix {
  @mixin clearfix;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

/* Title */
h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
}
h1 {
  font-size: var(--font-size-lger);
}
h2 {
  font-size: var(--font-size-lg);
}
h3 {
  font-size: var(--font-size-normal);
}
h4, h5, h6 {
  font-size: var(--font-size-base);
}
hr {
  margin: 1.2em 0 1.5em;
}

/* Text */
p {
  color: var(--text-color);
  font-size: var(--font-size-base);
}
.text-small {
  font-size: var(--font-size-sm);
}
.text-smaller {
  font-size: var(--font-size-smer);
}
.text-base {
  font-size: var(--font-size-base);
}
.text-normal {
  font-size: var(--font-size-normal);
}
.text-large {
  font-size: var(--font-size-lg);
}
.text-larger {
  font-size: var(--font-size-lger);
}

/*// Color
$normal-color             : #6190E8;
$primary-color            : #6190E8;
$success-color            : #13CE66;
$error-color              : #FF4949;
$warning-color            : #FFC82C;
$info-color               : #78A4FA;
.normal-color {
  color:
}*/

/* Font */
.typo-pingfang {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', Arial, sans-serif;
}
.typo-dongqing {
  font-family: 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', Arial, sans-serif;
}
.typo-yahei {
  font-family: 'Helvetica Neue', Helvetica, 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.typo-helvetica-neue {
  font-family: 'Helvetica Neue', "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.typo-helvetica {
  font-family: Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.typo-arial {
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", sans-serif;
}
