/**
 * Grid System
 */
@import '../variables/default.css';

:root {
  /* variables */
  --gutter-width: 12px;
  --outer-margin: 24px;
  --gutter-compensation: calc(var(--gutter-width) * .5 * -1);
  --half-gutter-width: calc(var(--gutter-width) * .5);

  /* Extra small screen / Mobile */
  --screen-xs                : 480px;
  --screen-xs-min            : var(--screen-xs);
  --screen-xs-max            : calc(var(--screen-xs-min) - 1);

  /* Small screen / Tablet */
  --screen-sm                : 768px;
  --screen-sm-min            : var(--screen-sm);
  --screen-sm-max            : calc(var(--screen-sm-min) - 1);

  /* Medium screen / Desktop */
  --screen-md                : 992px;
  --screen-md-min            : var(--screen-md);
  --screen-md-max            : calc(var(--screen-md-min) - 1);

  /* Large screen / Wide Desktop */
  --screen-lg                : 1200px;
  --screen-lg-min            : var(--screen-lg);
  --screen-lg-max            : calc(var(--screen-lg-min) - 1);

  --container-sm: calc(720px + var(--gutter-width));
  --container-md: calc(940px + var(--gutter-width));
  --container-lg: calc(1140px + var(--gutter-width));

  /* Make Grid
   * Use for column 24
   * --baseWidth: 4.166667%;
   */
  --baseWidth: 8.33333333%;
}

@custom-media --small-viewport (min-width: 768px);
@custom-media --medium-viewport (min-width: 992px);
@custom-media --large-viewport (min-width: 1200px);

.container-fluid, .container {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: var(--gutter-compensation);
  margin-right: var(--gutter-compensation);

  &.reverse {
    flex-direction: row-reverse;
  }
}

.col.reverse {
  flex-direction: column-reverse;
}

/* Flex justify content */
.flex {
  display: flex;
}
.flex-start {
  justify-content: flex-start;
  text-align: start;
}

.flex-center {
  justify-content: center;
  text-align: center;
}

.flex-end {
  justify-content: flex-end;
  text-align: end;
}

.flex-top {
  align-items: flex-start;
}

.flex-middle {
  align-items: center;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-first {
  order: -1;
}

.flex-last {
  order: 1;
}


/* screen xs */
@media (--small-viewport) {
  /*.container {
    width: $container-xs;
  }*/

  .col-xs, .col-xs-offset-0 {
    flex: 0 0 auto;
    padding-left: var(--half-gutter-width);
    padding-right: var(--half-gutter-width);
  }

  @for $i from 1 to 13 {
    .col-xs-$i, .col-xs-offset-$i {
      flex: 0 0 auto;
      padding-left: var(--half-gutter-width);
      padding-right: var(--half-gutter-width);

      .no-gutter & {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xs-offset-0 {
    margin-left: 0;
  }

  @for $i from 1 to 13 {
    .col-xs-$i {
      flex-basis: calc(var(--baseWidth) * $i);
      max-width: calc(var(--baseWidth) * $i);
    }
    .col-xs-offset-$i {
      margin-left: calc(var(--baseWidth) * $i);
    }
  }
}

/* screen sm */
@media (--medium-viewport) {
  .container {
    width: var(--container-sm);
  }

  .col-sm, .col-sm-offset-0 {
    flex: 0 0 auto;
    padding-left: var(--half-gutter-width);
    padding-right: var(--half-gutter-width);
  }

  @for $i from 1 to 13 {
    .col-sm-$i, .col-sm-offset-$i {
      flex: 0 0 auto;
      padding-left: var(--half-gutter-width);
      padding-right: var(--half-gutter-width);

      .no-gutter & {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }

  @for $i from 1 to 13 {
    .col-sm-$i {
      flex-basis: calc(var(--baseWidth) * $i);
      max-width: calc(var(--baseWidth) * $i);
    }
    .col-sm-offset-$i {
      margin-left: calc(var(--baseWidth) * $i);
    }
  }
}

/* screen md */
.container {
  width: var(--container-md);
}

.col-md, .col-md-offset-0 {
  flex: 0 0 auto;
  padding-left: var(--half-gutter-width);
  padding-right: var(--half-gutter-width);
}

@for $i from 1 to 13 {
  .col-md-$i, .col-md-offset-$i {
    flex: 0 0 auto;
    padding-left: var(--half-gutter-width);
    padding-right: var(--half-gutter-width);

    .no-gutter & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.col-md {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-md-offset-0 {
  margin-left: 0;
}

@for $i from 1 to 13 {
  .col-md-$i {
    flex-basis: calc(var(--baseWidth) * $i);
    max-width: calc(var(--baseWidth) * $i);
  }
  .col-md-offset-$i {
    margin-left: calc(var(--baseWidth) * $i);
  }
}

/* Screen lg */
@media (--large-viewport) {
  .container {
    width: var(--container-lg);
  }

  .col-lg, .col-lg-offset-0 {
    flex: 0 0 auto;
    padding-left: var(--half-gutter-width);
    padding-right: var(--half-gutter-width);
  }

  @for $i from 1 to 13 {
    .col-lg-$i, .col-lg-offset-$i {
      flex: 0 0 auto;
      padding-left: var(--half-gutter-width);
      padding-right: var(--half-gutter-width);

      .no-gutter & {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @for $i from 1 to 13 {
    .col-lg-$i {
      flex-basis: calc(var(--baseWidth) * $i);
      max-width: calc(var(--baseWidth) * $i);
    }
    .col-lg-offset-$i {
      margin-left: calc(var(--baseWidth) * $i);
    }
  }
}
