/**
 * Programatically determines whether a color is light or dark
 *
 * @argument {color (hex)} $hex-color [Color hex value]
 * @return {boolean}
 */

@function _is-light($hex-color) {
  $-local-red: red(rgba($hex-color, 1));
  $-local-green: green(rgba($hex-color, 1));
  $-local-blue: blue(rgba($hex-color, 1));
  $-local-lightness: ($-local-red * 0.2126 + $-local-green * 0.7152 + $-local-blue * 0.0722) / 255;

  @return $-local-lightness > 0.6;
}
