/**
 * Checks for a valid number
 *
 * @require {function} _contains
 * @argument {number} $value
 * @return {boolean}
 */

@function _is-number($value) {
  @return _contains('0' '1' '2' '3' '4' '5' '6' '7' '8' '9' 0 1 2 3 4 5 6 7 8 9, $value);
}
